
  <mat-card>

  <h1> Your Detailer Profile </h1>
  
  <h3>Link To Imgur</h3>
  <p>{{userProfile.linkToImgur}}</p>
  
  <h3>Services Offered</h3>
  <p>{{userProfile.servicesOffered}}</p>

  <h3>Availability</h3>
  <p>{{userProfile.availability}}</p>

  <h3>Pricing Information</h3>
  <p>{{userProfile.pricingInformation}}</p>

  <button mat-raised-button color="primary" (click) = "updateProfile()">Edit Profile</button>

  <button mat-raised-button color="primary" (click) = "deleteProfile()">Delete Profile</button>

  <app-display-reviews [detailerId] = "userProfile.id" [reviewInput] = "false"></app-display-reviews>

  </mat-card>




