<div class="bg">
  <div class="jumbotron">

    <h1 class="hi"> Hi, {{userProfile.fName}}! </h1>
    <h1 class="blerb"> Here is your Detailer Profile. </h1>


  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div fxFlex="40%">
      <mat-card class="card">

        <h2>Examples of Your Work</h2>
        <a class="imgrBtn" mat-raised-button href="{{userProfile.linkToImgur}}" target="_blank">View Imgur</a>

        <h2>Services Offered</h2>
        <p>{{userProfile.servicesOffered}}</p>

        <h2>Availability</h2>
        <p>{{userProfile.availability}}</p>

        <h2>Pricing Information</h2>
        <p>{{userProfile.pricingInformation}}</p>

        <h2>Your Profile Currently Appears in searches for:</h2>
        <p>{{ userProfile.cities }}, {{ userProfile.state }} </p>
        <br>
        <button mat-raised-button class="btn" (click)="updateProfile()">Edit Profile</button>

        <button mat-raised-button class="btn" (click)="deleteProfile()">Delete Profile</button>
        <br>
        <br>
        <mat-divider></mat-divider>
        <br>


        <div class="reviews">
          <app-display-reviews *ngIf="userProfile" [detailer]="userProfile" [reviewInput]="false"></app-display-reviews>
        </div>


      </mat-card>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>