.wholepage{
    font-family: Arial, Helvetica, sans-serif;
}


.nav {
    background-color: rgb(251, 240, 87) !important;
    font-family: Arial, Helvetica, sans-serif;
    display: auto;
}

.navBtn{
    font-size: 14pt;
    font-weight: 500;
}

.content {
    margin-left: auto;
}

.jumbotron {
    background-image: url(../../../../assets/car1.jpg);

    background-size: cover;
    height: 80vh;

}

/* .logo{
margin-right: 2em;
} */

.jumbotron2{
    color: black;
    padding: 2%;
}

.jumSmlBox{
    margin-top:20%;
    margin-left: 9%;
}
.btn {
    color:  rgb(251, 240, 87) !important;
    background-color: black;
}
.btn:hover {
    color:  rgb(251, 240, 87)  !important;
    background: black;;
    box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    -webkit-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    -moz-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;

 }

 /* login - try to mimic contact to get ride of whitespace in between img and nav */

 .pagecontent-login{
    background-image: url(../../../../assets/car3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


 }

.loginInfo {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}


 .login{
     background-color: rgba(255, 255, 255, 0.637);
     position: relative;
     top:20%;
     margin-left: auto;
     margin-right: auto;
     width:20%;
     padding: 5em;
     
 }

/* signup - try to mimic contact to get ride of whitespace in between img and nav */
.pagecontent-signup{
    background-image: url(../../../../assets/insideCar1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.signUpInfo {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.signup {
    background-color: rgba(255, 255, 255, 0.637);
    position: relative;
    top:20%;
    margin-left: auto;
    margin-right: auto;
    width:20%;
    padding: 5em;
    

}

.liformh1{
    margin-left: 45%;
    margin-right: 65%;
}

.suformh1{
    margin-left: 40%;
    margin-right: 60%;
}

.inputForm{
width: 100%;
}

.libtns {
    margin-left: 45%;
    margin-right: 65%; 
}

.subtns {
    margin-left: 45%;
    margin-right: 65%;   
}

/* 
 contact */
 .pagecontent-contact { 
    background-image: url(../../../../assets/car4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .contact{

    background-color: rgba(255, 255, 255, 0.637);
    position: relative;
    top:20%;
    margin-left: auto;
    margin-right: auto;
    width:12%;
    padding: 5em;
    color:black;
  }

.underline{
    text-decoration: underline;
    text-decoration-color: rgb(251, 240, 87);
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.yellow500{ 
    color: rgb(251, 240, 87);
 }

 .material-icons.yellow500.md-48{
     position: relative;
     margin: 50%;
     right:24px;
     bottom: 25px;
 }

 .iconbkgrnd{
    position: relative;
    background-color: black;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    left: 25px;
 }

