<div class="wholepage">

  <!--Navbar-->
  <mat-toolbar class="nav">
    <mat-toolbar-row>
      <a href="/home"> <img style="width:100px;height:65px;" src="../../../../assets/wmBlack.png"></a>
      <div class="content">
        <span><button class="navBtn" style="" mat-button (click)="switchToLogin()">Log In</button></span>
        <span><button class="navBtn" style="" mat-button (click)="switchToSignup()">Sign Up</button></span>
        <span><button class="navBtn" style="" mat-button (click)="switchToContact()">Contact</button></span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="pagecontent-splash" *ngIf="status == 'splash'">

    <!--Jumbotron-->

    <div class="jumbotron">

      <div class="jumbotron2" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="center">

        <div fxFlex="25%">

          <img class="logo" style="width:700px;height:320px;" src="../../../../assets/logoBlack.png">
        </div>


        <div class="jumSmlBox" fxFlex="25%">
          <br>
          <br>
          <br>

          <h2>Having your vehicle professionally detailed is
            just a click away!</h2>
          <p>Wash me is the premier peer to peer automotive detailing service. Get in touch with detailers
            in your area or promote your own detailing services and earn some cash! Getting your car detailed is easier
            than
            ever with Wash Me</p>
          <button class="btn" mat-raised-button (click)="switchToSignup()">Get Started</button>
        </div>
      </div>

    </div>

    <!--Branding-->

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="25%">
        <div class="iconbkgrnd">
          <i class="material-icons yellow500 md-48">directions</i>
        </div>
        <h1 class="underline">Local</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>

      <div fxFlex="3%"></div>

      <div fxFlex="25%">
        <div class="iconbkgrnd">
          <i class="material-icons yellow500 md-48">monetization_on</i>
        </div>
        <h1 class="underline">Affordable</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>

      <div fxFlex="3%"></div>

      <div fxFlex="25%">
        <div class="iconbkgrnd">
          <i class="material-icons yellow500 md-48">date_range</i>
        </div>
        <h1 class="underline">Flexible</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <br>
    <br> <br>
    <br>
    <!--FAQ-->

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="83%">
        <div class="faq">

          <h1>Frequently Asked Questions</h1>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>What is automotive detailing and why would I want it?</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <p>Nobody likes a filthy car.</p>

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>What is the pricing like?</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <p>This is where the answer to that question goes.</p>

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>Who will be the one actually cleaning my car?</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <p>This is where the answer to that question goes.</p>

          </mat-expansion-panel>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>

  <!-- Login Form -->
  <div class="pagecontent-login" *ngIf="status === 'login'">



    <div class="login">
      <h1 class="liformh1" id="header-li">Login</h1>


      <form [formGroup]="loginInfo">
        <mat-form-field class="inputForm">
          <input formControlName="username" matInput placeholder="Username">
        </mat-form-field>
        <br>
        <mat-form-field class="inputForm">
          <input formControlName="pass" matInput placeholder="Password" type="password">
        </mat-form-field>
        <br>
        <br>
        <br>
        <br>
        <div class="libtns">
          <button class="btn" mat-raised-button (click)="sendLogin()">Submit</button>
          <br>
          <hr>
          <br>
          <button class="btn" mat-raised-button (click)="switchToSignup()">SignUp</button>
        </div>
      </form>
    </div>

  </div>

  <!-- SignUp Form -->
  <div class="pagecontent-signup" *ngIf="status === 'signup'">


    <div class="signup">
      <h1 class="suformh1" id="header-su">SignUp</h1>
      <form [formGroup]="signUpInfo">
        <mat-form-field class="inputForm">
          <input formControlName="username" matInput placeholder="Username">
        </mat-form-field>
        <br>
        <mat-form-field class="inputForm">
          <input formControlName="pass" matInput placeholder="Password" type="password">
        </mat-form-field>
        <br>
        <mat-form-field class="inputForm">
          <input formControlName="emailAddress" matInput placeholder="Email Address">
        </mat-form-field>
        <br>
        <mat-form-field class="inputForm">
          <input formControlName="fName" matInput placeholder="First Name">
        </mat-form-field>
        <br>
        <mat-form-field class="inputForm">
          <input formControlName="lName" matInput placeholder="Last Name">
        </mat-form-field>
        <br>
        <br>
        <br>
        <div class="subtns">
          <button class="btn" mat-raised-button (click)="sendSignUp()">Submit</button>
          <br>
          <hr>
          <br>
          <button class="btn" mat-raised-button (click)="switchToLogin()">Log In</button>
        </div>
      </form>
    </div>

  </div>

  <!-- Contact Form -->

  <div class="pagecontent-contact" *ngIf="status === 'contact'">


    <div class="contact">
      <h1 class="title">Contact</h1>


      <form ngNoForm action="https://formspree.io/sarahtoshi714@gmail.com" method="POST">

        <!-- name -->
        <mat-form-field>
          <input matInput type="text" name="name" placeholder="Your Name" [(ngModel)]="name">
        </mat-form-field>
        <br>
        <!-- email -->
        <mat-form-field>
          <input matInput type="email" name="email" placeholder="Your Email" [(ngModel)]="email">
        </mat-form-field>

        <br>

        <!-- message -->
        <mat-form-field>
          <textarea matInput name="message" placeholder="Your Message" [(ngModel)]="message"></textarea>
        </mat-form-field>

        <button class="btn" mat-raised-button type="submit">Submit</button>

      </form>

    </div>

  </div>
</div>