.wholepage{
    font-family: Arial, Helvetica, sans-serif;
}


.nav {
    background-color: rgb(251, 240, 87) !important;
    font-family: Arial, Helvetica, sans-serif;
    display: auto;
}

.jumbotron {
    background-image: url(../../../../assets/car1.jpg);

    background-size: cover;
    height: 70vh;

}

.jumbotron2{
    color: black;
    padding: 2%;
}

.jumSmlBox{
    margin-top:17%;
}
.btn {
    color:  rgb(251, 240, 87) !important;
    background-color: black;

}