<div class="update">

  <h3>Update the information in your detailer profile.</h3>

  <form [formGroup]="detailerSetup" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="Link To Your Imgur" formControlName="linkToImgur" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Your Services" formControlName="servicesOffered" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Pricing Information" formControlName="pricingInformation" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Availability" formControlName="availability" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="WillTravel" formControlName="willTravel" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="State" formControlName="state" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City" formControlName="cities" required>
    </mat-form-field>

    <button class="btn" mat-raised-button type="submit">Submit</button>
  </form>

</div>