<div class="pagecontent-update">
  <div class="update">

    <h3>Update the information in your detailer profile.</h3>

    <form [formGroup]="detailerSetup" (ngSubmit)="onSubmit()">

      <mat-form-field>
        <input matInput placeholder="Link To Your Imgur" formControlName="linkToImgur" required>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Your Services" formControlName="servicesOffered" required></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Pricing Information" formControlName="pricingInformation" required></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Availability" formControlName="availability" required></textarea>
      </mat-form-field>



      <mat-form-field>
        <mat-select placeholder="Will Travel?" formControlName="willTravel">
          <mat-option value=" true">Yes</mat-option>
          <mat-option value="false">No</mat-option>
        </mat-select>
      </mat-form-field>




      <mat-form-field>
        <input matInput placeholder="State" formControlName="state" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Cities" formControlName="cities" required>
      </mat-form-field>

      <button class="btn" mat-raised-button type="submit">Submit</button>
    </form>
  </div>
</div>