.nav {
    background-color: rgb(251, 240, 87) !important;
    font-family: Arial, Helvetica, sans-serif;
    display: auto;
    
}



  .bg { 
    background-image: url(../../../../assets/car5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  
.image {
    margin-right: 45%;
    }

  .btns {
    padding:2em;
    position: relative;
    width:50%;
    margin-left: 30%;
  }


.btn {
  
    margin: 3em;
    padding: 3em,3em;
    color:  rgb(251, 240, 87);
    background-color: black;
    width: 30%;


}

.btn:hover {
  color:  rgb(251, 240, 87)  !important;
  background: black;;
  box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
  -webkit-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
  -moz-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;

}