
<app-splash-screen-base (messageEvent)="receiveLoginInfo($event)" *ngIf = "token === ''"></app-splash-screen-base>

<div *ngIf = "token != ''">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span><a mat-button routerLink="/home">Home</a></span>
        <span><a mat-button routerLink="/search">Find A Detailer</a></span>
        <span><a mat-button routerLink="/yourdetailerprofile">Advertise Your Services</a></span>
        <span><a mat-button routerLink="/youruserprofile">Your Profile</a></span>
        <span><button mat-button (click) = "logout()">Logout</button></span>
      </mat-toolbar-row>
    </mat-toolbar>


  <router-outlet></router-outlet>
</div>