
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" *ngIf = "detailerView">

  <div fxFlex="70%">

    <mat-card>

      <h1> {{detailerView.fName}}'s Detailer Profile </h1>

      <h3>View Some Examples of {{detailerView.fName}}'s Work</h3>
      <a mat-raised-button href= "{{detailerView.linkToImgur}}" target = "_blank">View Imgur</a>

      <h3>Services Offered</h3>
      <p>{{detailerView.servicesOffered}}</p>

      <h3>Availability</h3>
      <p>{{detailerView.availability}}</p>

      <h3>Pricing Information</h3>
      <p>{{detailerView.pricingInformation}}</p>

      <button mat-raised-button color="primary" (click)="contact()">Contact This Detailer</button>

      <app-display-reviews [detailer]="detailerView" [reviewInput]="true"></app-display-reviews>

    </mat-card>

  </div>
</div>