.bg { 
    background-image: url(../../../../assets/car7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .jumbotron {
    background-color: rgba(0, 0, 0, 0.616);
    color:rgb(251, 240, 87);
    widows: 100%;
    height: 30vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
   
  }
  
  .hi {
    margin-bottom: 0%;

    position: relative;
    color:white;
    text-align: center; 
  }
  
  .blerb{
    margin-bottom: 6%;
    position: relative;
  font-size: 80%;
  text-align: center; 
  
  }

  .bbtn {
    margin-top: 1%;
    margin-left: 1%;
    color:  rgb(251, 240, 87) !important;
    background-color: black;
    text-align: left !important;
    
  }
  .bbtn:hover {
    color:  rgb(251, 240, 87)  !important;
    background: black;;
    box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    -webkit-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    -moz-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
  
  }
  


  
  .card {
    background-color: rgba(255, 255, 255, 0.712);
    margin-top: 10%;
  }
  
  .imgrBtn {
    color: black; 
    background-color:rgb(251, 240, 87) !important;
  }
  
  .imgrBtn:hover {
    color:  black;
    background:  rgb(251, 240, 87)  !important;
    box-shadow: 0px 5px 60px -2px  black;
    -webkit-box-shadow: 0px 5px 60px -2px  black;
    -moz-box-shadow: 0px 5px 60px -2px  black;
  }
  
/*   
  .sbtn {
    margin-right: 3% !important;;
    margin-top:3% !important;;
    margin-left: 5% !important;;
    padding: 1em;
    color:  rgb(251, 240, 87) !important;
    background-color: black;
    
  }
  .sbtn:hover {
    color:  rgb(251, 240, 87)  !important;
    background: black;;
    box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    -webkit-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    -moz-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
  
  }
  
  .sh3 {
    margin-top: 0%;
    margin-bottom: 0%;
  } */
  
  .btn {
    margin-right: 3%;
    color:  rgb(251, 240, 87) !important;
    background-color: black;
    
  }
  .btn:hover {
    color:  rgb(251, 240, 87)  !important;
    background: black;;
    box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    -webkit-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    -moz-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
  
  }
  
  .reviews {
  margin-right: 38px;
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;  /* Footer height */
    background-color:  rgb(251, 240, 87);
}