.pagecontent-results{

    background-image: url(../../../../assets/insideCar5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    }


    
    .sbtn {
        color:  rgb(251, 240, 87) !important;
        background-color: black !important;
        margin:auto;
        margin-top: 20px;
        margin-left: 20px;
        align-content: center;
        height: 5%;
        width:10%;
    }
    .sbtn:hover {
        color:  rgb(251, 240, 87)  !important;
        background: black;
        box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
        -webkit-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
        -moz-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    
     }


    .results {
        background-color: rgba(255, 255, 255, 0.637);
        top:5%;
        margin-left: auto;
        margin-right: auto;
        width:66%;
        padding: 5em;
        font-family: Arial, Helvetica, sans-serif;

    }
    .cardContainer{
        width:44%; 
        display: inline-block;
        margin: auto;
        padding: 2em;
    }

    .cardContainer h1{
        text-decoration: underline;
        text-decoration-color: rgb(251, 240, 87);
    }

    .cardContainer p{
        height: 15vh;
        overflow-y: scroll;
    }
    
    .btn {
        color:  rgb(251, 240, 87) !important;
        background-color: black;
        margin: auto;
        width:100%;
        text-align: center;
    }
    .btn:hover {
        color:  rgb(251, 240, 87)  !important;
        background: black;;
        box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
        -webkit-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
        -moz-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    
     }