<form>

  <!-- name -->
  <mat-form-field>
    <input matInput type="text" name="name" placeholder="Your Name" [(ngModel)]="name">
  </mat-form-field>
  <br>
  <!-- email -->
  <mat-form-field>
    <input matInput type="email" name="email" placeholder="Your Email" [(ngModel)]="email">
  </mat-form-field>

  <br>

  <!-- message -->
  <mat-form-field>
    <textarea matInput name="message" placeholder="Your Message" [(ngModel)]="message"></textarea>
  </mat-form-field>

  <button class="btn" mat-raised-button type="submit">Submit</button>

</form>

<p>{{ detailerEmail }}</p>