/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;  /* Footer height */
    background-color:  rgb(251, 240, 87);
}

img{
    position: relative;
    height: 50px;
    width: 125px;
    left: 46.5%;
}
