/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
}

.footer {
    color: black;
    background-color: rgb(251, 240, 87);
    height: 20%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;

}

.footerInfo {
    top:10%;
    margin-left: auto;
    margin-right: auto;
}

img{
    position: relative;
    height: 50px;
    width: 125px;
    left: 50%;
}
