.btn {
    color:  rgb(251, 240, 87) !important;
    background-color: black;
    
}
.btn:hover {
    color:  rgb(251, 240, 87)  !important;
    background: black;;
    box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    -webkit-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;
    -moz-box-shadow: 0px 5px 60px -2px  rgb(251, 240, 87) ;

 }